<nav>
    <div class="site-title">
        <a href="/"><h1>Someone's Blog</h1></a>
        <p>A blog created using Node.js and Express</p>
    </div>
    <div class="nav-links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">Create new blog</a></li>
        </ul>
    </div>
</nav>
